/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;
}
:root {
  --z-index-overlay: 0;
  --z-index-overlay-image: 0;
  --z-index-top-rated: 2;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}
#app,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  margin: 64px 0;
}
.star {
  width: 24px;
}
button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}
button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}
#app {
  background-color: var(--color-bluegray-100);
}
#app h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 48px;
  width: 100%;
  overflow: hidden;
}
.top-rated-container {
  user-select: none;
  position: relative;
  z-index: var(--z-index-top-rated);
  max-width: 1280px;
  margin: 0 auto;
}
.top-rated-movie {
  margin-top: 64px;
  position: relative;
  z-index: var(--z-index-top-rated);
}
.top-rated-movie>*:not(:last-child) {
  margin-bottom: 8px;
}
h1.logo {
  font-size: 2rem;
}
.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}
.rate>img {
  position: relative;
  top: 2px;
}
span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
footer.footer {
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}
footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}
.search-header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  z-index: var(--z-index-top-rated);
}
.logo {
  flex-shrink: 0;
}
/* .search-bar-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 525px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #D1D5DB;
  padding: 6px 16px;
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: var(--z-index-overlay);
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: var(--z-index-overlay-image);
}
.hide {
  display: none;
}
.hide-background {
  height: 164px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;
}

.tab {
  display: flex;
  margin: 32px 0;
}

.tab-item {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;

  border-radius: 40px;
  background: linear-gradient(90deg, #14191f 0%, #0a0d12 100%);
}

.tab-item.selected {
  background: linear-gradient(90deg, #4b8bf4 0%, #1c2a3a 100%);
}

.tab-item:hover {
  background: linear-gradient(90deg, #2f3e54 0%, #4b8bf4 100%);
}

.tab li:not(:last-child) {
  margin-right: 8px;
}
:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;
}

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 70px;
}

@media (max-width: 1024px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 200px);
    /* 태블릿 */
  }
}

@media (max-width: 768px) {
  .thumbnail-list {
    grid-template-columns: repeat(1, 200px);
    /* 모바일 */
  }
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc>*:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate>span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}.search-bar-container {
  width: 525px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #D1D5DB;
  padding: 6px 16px;
  margin: 0 auto;
}

.search-bar-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: white;
}

.search-bar-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton-thumbnail {
  width: 100%;
  height: 180px;
  border-radius: 4px;
}

.skeleton-star {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.skeleton-rate {
  width: 40px;
  height: 16px;
}

.skeleton-title {
  width: 80%;
  height: 20px;
}

@keyframes shimmer {
  0% {
    background-color: #e0e0e0;
  }

  50% {
    background-color: #f0f0f0;
  }

  100% {
    background-color: #e0e0e0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
  display: block;
}

.skeleton.thumbnail {
  width: 200px;
  height: 300px;
  margin-bottom: 8px;
}

.skeleton.rate {
  width: 60px;
  height: 20px;
  margin-bottom: 8px;
}

.skeleton.title {
  width: 150px;
  height: 24px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.item {
  position: relative;
  width: 200px;
  margin: 0 8px;
}

.item-desc {
  padding: 8px;
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 24px;
}

.no-results-image {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.no-results-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  text-align: center;
}:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;
}

/* modal.css */

body.modal-open {
  overflow: hidden;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경을 위해 설정 */
  backdrop-filter: blur(10px);
  /* 블러 효과 적용 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  /* 모달이 기본적으로 보이지 않도록 설정 */
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal-background.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: var(--color-bluegray-90);
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 2;
  position: relative;
  width: 1000px;
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
}

.modal-image img {
  width: 380px;
  border-radius: 16px;
}

.modal-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
}

.modal-description .rate>img {
  position: relative;
  top: 5px;
}

.modal-description>*:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
}

.rate-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}

.rating-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.modal-container hr {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1024px) {
  .modal {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }

  .modal-container {
    flex-direction: column;
    /* 좌우 → 세로로 배치 */
    align-items: center;
    padding: 20px;
  }

  .modal-image img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 16px;
  }

  .modal-description {
    width: 100%;
  }

  .movie-basic-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .modal-image {
    display: none;
    /* 썸네일 숨기기 */
  }

  .modal-description {
    padding: 0 10px;
    /* 좌우 여백 조금 */
  }

  .modal-description {
    align-items: center;
  }

  .modal-description .detail {
    display: -webkit-box;
    /* Flex 대신 박스 모델 */
    -webkit-line-clamp: 6;
    /* 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;
    /* 말줄임표 */
  }

  .rating-box {
    display: flex;
    flex-direction: column;
  }
}